.angelleye-updater-wrap div.updated,
.angelleye-updater-wrap div.error {
    margin-top: 1em;
    margin-bottom: 0;
    display: block !important;
}
.angelleye-updater-wrap .ninja {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 125px;
    background: #42a2ce;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.angelleye-updater-wrap .ninja img {
    width: 100%;
    height: auto;
}
.angelleye-updater-wrap .feature-section ul {
    margin-bottom: 4em;
    padding-bottom: 1em;
}
.angelleye-updater-wrap .feature-section li {
    margin-left: 1.2em;
    font-size: 13px;
}
.angelleye-updater-wrap .feature-section img {
    width: 75px;
    height: 75px;
    float: right !important;
    margin-bottom: 1em;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.angelleye-updater-wrap .panic-button-wrap {
    padding: 40px;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    zoom: 1;
    text-align: center;
    margin: 0 auto 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.angelleye-updater-wrap .panic-button-wrap a {
    text-decoration: none;
}
.angelleye-updater-wrap .panic-button-wrap em {
    display: block;
    font-style: normal;
    color: #666;
}
.angelleye-updater-wrap .panic-button-wrap a {
    display: block;
    position: relative;
    outline: none;
}
.angelleye-updater-wrap .panic-button-wrap a:before {
    content: "";
    display: block;
    height: 6em;
    width: 6em;
    background: red;
    margin: 0 auto 1.618em;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #ff3019;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
    border: 3px solid #b60404;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 0 0 0.618em #eeeeee;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 0 0 0.618em #eeeeee;
}
.angelleye-updater-wrap .panic-button-wrap a:hover:before {
    background: #ff4635;
    background: -moz-linear-gradient(top, #ff4635 0%, #ce2727 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4635), color-stop(100%, #ce2727));
    background: -webkit-linear-gradient(top, #ff4635 0%, #ce2727 100%);
    background: -o-linear-gradient(top, #ff4635 0%, #ce2727 100%);
    background: -ms-linear-gradient(top, #ff4635 0%, #ce2727 100%);
    background: linear-gradient(to bottom, #ff4635 0%, #ce2727 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4635', endColorstr='#ce2727', GradientType=0);
}
.angelleye-updater-wrap .panic-button-wrap a:active:before {
    background: #cf0404;
    background: -moz-linear-gradient(top, #cf0404 0%, #ff3019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf0404), color-stop(100%, #ff3019));
    background: -webkit-linear-gradient(top, #cf0404 0%, #ff3019 100%);
    background: -o-linear-gradient(top, #cf0404 0%, #ff3019 100%);
    background: -ms-linear-gradient(top, #cf0404 0%, #ff3019 100%);
    background: linear-gradient(to bottom, #cf0404 0%, #ff3019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf0404', endColorstr='#ff3019', GradientType=0);
}

.manage-column.column-product_version {
    width: 70px;
}
.manage-column.column-product_status {
    width: 140px;
}
.manage-column.column-plugin_status {
    width: 160px;
}
.angelleye-updater-plugin-upgrade-notice {
    background: none repeat scroll 0 0 #d54d21;
    color: #fff;
    font-weight: 400;
    margin: 9px 0;
    padding: 1em;
}
.angelleye-updater-plugin-upgrade-notice a {
    color: #fff;
}
.angelleye-updater-plugin-upgrade-notice::before {
    content: "Ôçà";
    display: inline-block;
    font: 400 18px/1 dashicons;
    margin: 0 8px 0 -2px;
    vertical-align: top;
}
.updated.fade {
    clear: both;
}
.dashboard_page_angelleye-helper .red-font {
    color: red;
}
.dashboard_page_angelleye-helper .green-font {
    color: green;
}
.ag-helper {
    float: right;
}
.ag-helper .button-update, .ag-helper .button-update:hover {
    background-color: 
#e6e6e6;
border-radius: 4px;
color:
    #333;
    font-weight: 800;
    font-size: 10px;
    line-height: 20px;
    margin-left: 6px;
    opacity: .75;
    padding: 3px 7px;
    text-transform: uppercase;
}
.ag-helper .button, .ag-helper .button:active, .ag-helper .button:focus, .ag-helper .button:hover {
    background-color: #955a89;
    border-width: 0;
    box-shadow: none;
    border-radius: 3px;
    color: #fff;
    height: auto;
    padding: 3px 14px;
    text-align: center;
    white-space: normal !important;
}
.ag-helper .button-update .dashicons, .ag-helper .button-update:hover .dashicons {
    font-size: 12px;
    height: 12px;
    width: 12px;
    vertical-align: text-bottom;
}
.angelleye-helper-about-text {
    margin-top: 20px;
}